<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:com/cy/config/spring/spring.xml,
			classpath*:com/cy/config/spring/spring-security.xml,
			classpath*:com/cy/config/cxf/cxf-servlet.xml,
			classpath*:com/cy/config/spring/spring-hibernate.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- spring security start -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- spring security end -->


	<!-- springMVC start -->
	<servlet>
		<servlet-name>mvcServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:com/cy/config/spring/spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvcServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<!-- springMVC END -->

	<listener>
		<display-name>SystemListener</display-name>
		<listener-class>com.cy.project.template.system.listener.SystemListener</listener-class>
	</listener>
	
	<listener>
		<display-name>CacheListener</display-name>
		<listener-class>com.cy.cyf.framework.listener.CacheListener</listener-class>
	</listener>

	<!-- CXF Start -->
	<servlet>
		<servlet-name>cxf</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>cxf</servlet-name>
		<url-pattern>/webservice/*</url-pattern>
	</servlet-mapping>
	<!-- CXF End -->

	<!-- JFreeChart Start -->
<!-- 	<servlet> -->
<!-- 		<servlet-name>DisplayChart</servlet-name> -->
<!-- 		<servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>DisplayChart</servlet-name> -->
<!-- 		<url-pattern>/DisplayChart</url-pattern> -->
<!-- 	</servlet-mapping> -->
	<!-- JFreeChart End -->




	<!-- DEMO -->
	<servlet>
		<description>下载文件</description>
		<servlet-name>load-file</servlet-name>
		<servlet-class>com.cy.project.demo.file.FileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>load-file</servlet-name>
		<url-pattern>/loadfile.demo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>websocket示例</display-name>
		<servlet-name>websocket-demo</servlet-name>
		<servlet-class>com.cy.project.demo.websocket.WebSocketDemo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>websocket-demo</servlet-name>
		<url-pattern>/websocket.demo</url-pattern>
	</servlet-mapping>


	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
</web-app>